html
  link(href='../css/semantic.min.css' rel='stylesheet' type='text/css')
body(style='background:transparent')
  .ui.stackable.four.column.grid
    .column 1
    .column 2
    .column 3
    .column 4